@keyframes fade {
    0%, 50% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes dot-anim {
    0% {
        top: -4vw;
    }
    50% {
        top: 4vw;
    }
    100% {
        top: -4vw;
    }
}
@keyframes checked-radio-3 {
    0% {
        top: -10vw;
        transform: scale(0);
    }
    100% {
        top: 0;
        transform: scale(1);
    }
}
@keyframes unchecked-radio-3 {
    0% {
        bottom: 0;
        transform: scale(1);
    }
    100% {
        bottom: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-4 {
    0% {
        transform: rotate(0) translateY(-4.8vw) scale(.2);
    }
    83% {
        transform: rotate(360deg) translateY(-2.5vw) scale(1);
        transform-origin: 2vw;
    }
    88% {
        transform: translateY(.6vw) scale(1);
    }
    93% {
        transform: translateY(-.9vw) scale(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
@keyframes unchecked-radio-4 {
    25% {
        top: -6.5vw;
    }
    50% {
        top: 9vw;
    }
    75% {
        top: -10vw;
    }
    100% {
        top: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-5 {
    0% {
        top: -10vw;
        transform: scale(0);
    }
    100% {
        top: 0;
        transform: scale(1);
    }
}
@keyframes unchecked-radio-5 {
    0% {
        bottom: 0;
        transform: scale(1);
    }
    100% {
        bottom: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-6 {
    0% {
        transform: rotate(0) translateY(-4.8vw) scale(.2);
    }
    83% {
        transform: rotate(360deg) translateY(-2.5vw) scale(1);
        transform-origin: 2vw;
    }
    88% {
        transform: translateY(.6vw) scale(1);
    }
    93% {
        transform: translateY(-.9vw) scale(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
@keyframes unchecked-radio-6 {
    25% {
        top: -6.5vw;
    }
    50% {
        top: 9vw;
    }
    75% {
        top: -10vw;
    }
    100% {
        top: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-7 {
    0% {
        top: -10vw;
        transform: scale(0);
    }
    100% {
        top: 0;
        transform: scale(1);
    }
}
@keyframes unchecked-radio-7 {
    0% {
        bottom: 0;
        transform: scale(1);
    }
    100% {
        bottom: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-8 {
    0% {
        transform: rotate(0) translateY(-4.8vw) scale(.2);
    }
    83% {
        transform: rotate(360deg) translateY(-2.5vw) scale(1);
        transform-origin: 2vw;
    }
    88% {
        transform: translateY(.6vw) scale(1);
    }
    93% {
        transform: translateY(-.9vw) scale(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
@keyframes unchecked-radio-8 {
    25% {
        top: -6.5vw;
    }
    50% {
        top: 9vw;
    }
    75% {
        top: -10vw;
    }
    100% {
        top: -10vw;
        transform: scale(0);
    }
}
@keyframes checked-radio-9 {
    0% {
        transform: rotate(0) translateY(-4.8vw) scale(.2);
    }
    83% {
        transform: rotate(360deg) translateY(-2.5vw) scale(1);
        transform-origin: 2vw;
    }
    88% {
        transform: translateY(.6vw) scale(1);
    }
    93% {
        transform: translateY(-.9vw) scale(1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
@keyframes unchecked-radio-9 {
    25% {
        top: -6.5vw;
    }
    50% {
        top: 9vw;
    }
    75% {
        top: -10vw;
    }
    100% {
        top: -10vw;
        transform: scale(0);
    }
}

*, *:before, *:after {
    margin: auto;
    padding: 0;
    outline: 0;
    overflow: hidden;
    box-sizing: border-box;
}
html, body {
  /* background: white; */
  background: radial-gradient(155DEG, #146275 0%, #33A8C4 100%);
  transition: all 0.45s;
  background-image: url('file:///home/englianhu/Documents/GitHub/owner/test/www/maths.jpg');
}
main, .container, label, label:before, label:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
main {
    width: 95vw;
    height: 50vw;
}
.container {
    width: 100%;
    height: 100%;
    animation: fade 1s;
}
label {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-name: dot-anim;
}
.radio:checked + label {
    animation-play-state: paused;
}
label:before {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 0 .8vw 0, rgba(0, 0, 0, 0.239216) 0 .8vw .8vw 0;
    transition: all .2s;
}
label:hover:before {
    box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 1vw 0, rgba(0, 0, 0, 0.239216) 0 1vw 1vw 0;
}
label:after {
    content: "";
    position: absolute;
    width: 10vw;
    height: 10vw;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    transform: scale(0);
}
.radio:checked + label:after {
    background: transparent;
    transition: all .5s;
    transform: scale(1);
}
/**** BLUE Radio button code ****/
#radio-1 + label {
    left: -80vw;
    bottom: 80vw;
    /* background: #4285F4; */
    background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%);
      transition: all 0.45s;
    animation-delay: 0s;
}
#radio-1 + label:before {
  /* background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%); */
  /*     transition: all 0.45s; */
    transform: scale(0);
}
#radio-1:checked + label:before {
    /* background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%); */
    /*  transition: all 0.45s; */
    transform: scale(1);
    transition: all .4s;
}
/**** RED radio button code ****/
#radio-2 + label {
    left: -60vw;
    bottom: 60vw;
    background: #EA4335;
    border-color: #EA4335!important;
    animation-delay: .2s;
}
#radio-2:checked + label {
    background: white;
    border: 1vw solid;
    box-shadow: inset rgba(0, 0, 0, 0.117647) 0 0 .6vw 0, inset rgba(0, 0, 0, 0.239216) 0 .6vw .8vw 0;
    transition: all .2s;
}
#radio-2:checked + label:before {
    width: 5vw;
    height: 5vw;
    background: #EA4335;
    transition: all .4s;
}
/* for IE */
#radio-2:not(:checked) + label:before {
    width: 8vw;
    height: 8vw;
    /* https://stackoverflow.com/a/17047836/3806250 */
    content: "🇨🇳 \A 简体中文 \A 🇨🇳";
    white-space: pre; /* or pre-wrap */
    color: #FFBE00;
    background: #EA4335;
    box-shadow: none;
}
/**** RED BLUE radio button code ****/
#radio-3 + label {
    left: -40vw;
    bottom: 40vw;
    background: #FBBC05;
    animation-delay: .4s;
}
#radio-3 + label:before {
    /* background: #E91E63; */
    transform: scale(0);
    animation-name: unchecked-radio-3;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}
#radio-3:checked + label:before {
    animation-name: checked-radio-3;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
/**** RED WHITE radio button code ****/
#radio-4 + label {
    left: -20vw;
    bottom: 20vw;
    /* background: #34A853; */
    background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%);
    transition: all 0.45s;
    animation-delay: .6s;
}
#radio-4 + label:before {
    /* background: #8BC34A; */
    background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%);
    transition: all 0.45s;
    animation: unchecked-radio-4 .5s both;
}
#radio-4:checked + label:before {
    animation-name: checked-radio-4;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: both;
}
/**** BLUE WHITE Radio button code ****/
#radio-5 + label {
    left: 0vw;
    bottom: 0vw;
    /* bottom: -6vw; */
    background: #4285F4;
    animation-delay: 0s;
}
#radio-5 + label:before {
    transform: scale(0);
}
#radio-5:checked + label:before {
    transform: scale(1);
    transition: all .4s;
}
/**** LIGHT BLUE radio button code ****/
#radio-6 + label {
    left: 20vw;
    bottom: -20vw;
    background: #FBBC05;
    animation-delay: .4s;
}
#radio-6 + label:before {
    /* background: #E91E63; */
    transform: scale(0);
    animation-name: unchecked-radio-6;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}
#radio-6:checked + label:before {
    animation-name: checked-radio-6;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
/**** BLACK radio button code ****/
#radio-7 + label {
    left: 40vw;
    bottom: -40vw;
    background: #000000;
    color: #E4E3E8;
    /* background: radial-gradient(155DEG, #000000 0%, #E4E3E8 100%); */
    /* transition: all 0.45s; */
    animation-delay: .6s;
}
#radio-7 + label:before {
    /* background: #000000; */
    /* background: #E0DFED; */
    color: grey;
    /* background: radial-gradient(155DEG, #000000 0%, #E4E3E8 100%); */
    /* transition: all 0.45s; */
    animation: unchecked-radio-7 .5s both;
}
#radio-7:checked + label:before {
    animation-name: checked-radio-7;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: both;
}
/**** BLUE Radio button code ****/
#radio-8 + label {
    left: 60vw;
    bottom: -60vw;
    background: #4285F4;
    animation-delay: 0s;
}
#radio-8 + label:before {
    transform: scale(0);
}
#radio-8:checked + label:before {
    transform: scale(1);
    transition: all .4s;
}
/**** GREEN radio button code ****/
#radio-9 + label {
    left: 80vw;
    bottom: -80vw;
    /* background: #34A853; */
    background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%);
    transition: all 0.45s;
    animation-delay: .6s;
}
#radio-9 + label:before {
    /* background: #8BC34A; */
    background: radial-gradient(155DEG, #200769 0%, #69B4F5 100%);
    transition: all 0.45s;
    animation: unchecked-radio-9 .5s both;
}
#radio-9:checked + label:before {
    animation-name: checked-radio-9;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-fill-mode: both;
}
[type="radio"] {
    display: none;
}
